@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

nav {
  background: #0082e6;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 1;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 78px;
  padding: 0 80px;
  font-weight: bold;
}

/* Media query for iPhone XR */
@media only screen and (max-width: 414px) {
  label.logo {
    display: none;
  }
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: #1b9bff;
  transition: .5s;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  ul {
    padding-top: 30px;
    position: absolute;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 100;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked~ul {
    left: 0;
  }
}

#myUniqueLink:hover {
  text-decoration: underline;
  background-color: transparent;
}

body {
  background-color:
    #121212;
}

.hero-image {
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background: url(ELNIDO.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-image::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
}

.hero-content {
  position: relative;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.hero-content-inner h1 {
  font-size: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-content-inner p {
  width: 75%;
  margin: 0 auto;
  font-size: 16px;
  font-weight: normal;
  color: white;
  line-height: 22px;
}

.hero-content-inner a {
  color: white;
}

.hero-content-inner button {
  background-color: #1b9bff;
  color: #fff;
  width: 170px;
  height: 50px;
  border-radius: 50px;
  border: none;
  font-size: 15px;
}

.hero-content-inner button:hover {
  background-color: #0082e6;
  cursor: pointer;
  transition: .5s;
}

@media(max-width:768px) {
  .hero-content {
    width: 100%;
    padding: 0 30px;
  }

  .hero-content-inner h1 {
    font-size: 30px;
  }

  .hero-content-inner p {
    width: 100%;
    font-size: 13px;
    line-height: 22px;
  }
}

#torestspots {
  background-color: transparent;
  color: white;
}

.row1 {
  margin: 25px;
  width: 90%;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  overflow-x: hidden;
  padding: 5rem 0;
}

.row1 .imgWrapper {
  overflow: hidden;
}

.row1 .imgWrapper img {
  transition: 0.3s;
}

.row1 .imgWrapper:hover img {
  cursor: pointer;
  transform: scale(1.10);
}

.row1 .contentWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
}

.row1 .contentWrapper span.textWrapper {
  color: white;
  display: block;
  font-size: 20px;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.row1 .contentWrapper span.textWrapper span {
  display: inline-block;
  background: white;
  width: 70px;
  height: 1px;
}

.row1 .contentWrapper h3 {
  color: white;
  padding-bottom: 20px;
}

.row1 .contentWrapper p {
  color: white;
  font-size: 16px;
  line-height: 25px;
  padding-bottom: 25px;
}

.row1 .contentWrapper a {
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #1b9bff;
  color: white;
  padding: 10px 35px;
  letter-spacing: 1px;
  user-select: none;
}

.row1 .contentWrapper a:hover {
  cursor: pointer;
  transition: .5s;
  background-color: #0082e6;
}

@media(max-width: 991px) {
  .row1 {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .row1 .contentWrapper {
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  .row1 {
    width: 90%;
  }

  .row1 .contentWrapper h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }

  .row1 .contentWrapper p {
    line-height: 24px;
  }
}

@media (max-width: 575px) {
  .row1 .contentWrapper span.textWrapper {
    font-size: 18px;
  }

  .row1 .contentWrapper h2 {
    font-size: 25px;
  }

  .row1 .contentWrapper p {
    font-size: 15px;
    line-height: 22px;
  }

  .row1 .contentWrapper a {
    font-size: 15px;
    padding: 10px 20px;
  }
}